<h1>Albums</h1>
<div class="row">
  <% @albums.each do |album| %>
  <div class="col-md-4">
    <div class="album">
      <p><%=album.album_id%></p>
      <div class="cover img-fluid img-thumbnail">
        <img src="<%=album.cover%>" alt="">
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <%=album.name_create%>
        </div>
        <div class="col-sm-6 col-md-6 text-right">
          View <%=album.view%>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
